<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <div class="title">LogIn</div>
    <div class="content">
      <form method="GET"  action="/login">
        <div class="user-details">
          
          <div class="input-box">
            <span class="details">Email</span>
            <input name="email" id="email" type="text" placeholder="Enter your email" required>
          </div>
      
          <div class="input-box">
            <span class="details">Password</span>
            <input name="password" id="pwd" type="password" placeholder="Enter your password" required>
          </div>
        
        </div>
        <div class="button">
          <input class="box" name="login" type="submit" value="Login">
        </div>
        <div class="register">Don't have an account? <a href="register">Register</a></div>
      </form>
    </div>
  </div>
</body>
</html>
